<?xml version="1.0"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="haisan.Properties.Settings.db_sanhaiConnectionString" connectionString="Data Source=.;Initial Catalog=db_sanhai;User ID=sa" providerName="System.Data.SqlClient"/>
    </connectionStrings>
  <startup  useLegacyV2RuntimeActivationPolicy="true"><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup></configuration>

